{% extends 'core/base.html' %}
{% load static %}

{% block content %}
    <nav id="postNav">
        <a href="/">X</a>
        <span>New Post</span>
    </nav>
    <hr>

    <div class="postingContainer">
        <div class="profileImageContanainer">
            <img src="{{posterProf.profile_picture.url}}">
        </div>
        <div class="postDetailsContainer">
            <span>{{user.username}}</span>
            <div class="formContainer">
                <form id="contentUploadForm" action="/createPost/" method="post" autocomplete="off" enctype="multipart/form-data">

                    {% csrf_token %}
            
                    <input type="text" name="content" id="contentInput" placeholder="What's in your mind?...">
                    <i id="imageUploadIcon" class="fa-solid fa-image fa-lg"></i>
                    <br>
                    <input id="imageSelectorInput" type="file" name="contentImage" onchange="previewPost(event)" style="display: none;" accept="image/*">
                    <button id="postButton" type="submit">Post</button>
                </form>
            </div>
        </div>
    </div>
    <div style="display: flex;align-items: center;justify-content: center;">
        <h3>Selected Image Preview</h3>
    </div>
    <div id="postPreview">
        <img src="#" alt="">
    </div>
    
    {% include "core/Nav.html" %}
{% endblock content %}

{% block postUpload %}
    <script src="{% static 'js/postUploadSystem.js' %}"></script>
{% endblock postUpload %}